:host{
  display: flex;
  flex: 1 0 auto;
  height:100%;
  .left-section{
    border-right:1px solid;
    
  }
  .bottom-section{
    background: whitesmoke;
    padding: 10px;
  }
  .sig-container {
    border-style: dashed;
    border-width: 1px;
    width: 700px;
    height:250px;
    margin-top: 10px;
  }
  [hidden] { display: none !important;}
}

