/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './mixins.scss';
@import './theme.scss';
// @import "~@swimlane/ngx-datatable/release/index.css";
* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: white !important;
}

input.mat-number-input {
  -moz-appearance: textfield;
}
.mat-icon-button{
  &:hover{
    background-color: rgba(0, 0, 0, 0.06);
  }
}
table {
  width: 100%;
}
.truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-uppercase{
  text-transform: uppercase;
}
.italic {
  font-style: italic !important;
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
mat-card {
  margin: 16px;
  overflow: hidden;
  transition: all .4s;
  -webkit-transition: all .4s;
  padding: 16px !important;
  border-radius: 3px !important;
  &:hover{
    box-shadow: 0 10px 16px rgba(0,0,0,.2) !important;
  }
}
.text-muted{
  color: inherit;
  opacity: 0.5;
}
.border-top-1{
  border-top: 1px solid #dcdcdc;
}
.border-bottom-1{
  border-bottom: 1px solid #dcdcdc;
}
.border-left-1{
  border-left: 1px solid #dcdcdc;
}
.border-right-1{
  border-right: 1px solid #dcdcdc;
}
// Font Style change
@import '~@angular/material/theming';
$custom-typography: mat-typography-config($font-family: '"Lato", sans-serif;');
@include mat-core($custom-typography);

