@import '~@angular/material/theming';
@include mat-core();


$stack-app-primary: mat-palette($mat-indigo);
$stack-app-accent:  mat-palette($mat-grey, A200, A100, A400);

$stack-app-warn: mat-palette($mat-red);

$stack-app-theme: mat-light-theme($stack-app-primary, $stack-app-accent, $stack-app-warn);

$stack-app-second-primary: mat-palette($mat-cyan);
$stack-app-second-accent:  mat-palette($mat-teal);

$stack-app-second-warn: mat-palette($mat-red);

$stack-app-second-theme: mat-dark-theme($stack-app-second-primary, $stack-app-second-accent, $stack-app-second-warn);

.my-theme {
    @include angular-material-theme($stack-app-theme);
}

.my-second-theme {
    @include angular-material-theme($stack-app-second-theme);
}


