:host{
  display: flex;
  flex: 1 0 auto;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .title {
      color: white;
      margin:0;
      padding:50px 20px;
    }
  
  }
}
.thermawood-table tr:hover,.thermawood-table tr.highlight {
  background:whitesmoke;
  cursor: pointer;
}
.thermawood-table tr th {
  background: #eee;
}
th.mat-sort-header-sorted {
  color: black;
}
