
  <div fxLayout="row" fxFlex="100">
    <div fxFlex="40" class="left-section" fxLayout="column">
      <h2>Rooms</h2>
      <span fxFlex></span>
      <div class="left-section-bottom">
          <span fxFlex></span>
          <div>
              <button mat-raised-button color="primary" class="mr-10">Copy</button>
              <button mat-raised-button color="accent" (click)="addRoom()">Add</button>
          </div>
      </div>
    </div>
    <div fxFlex="60" class="p-10" fxLayout="column" fxLayoutAlign="center center">
      No Room Selected
    </div>
  </div>

