:host{
  display: flex;
  flex: 1 0 auto;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .title {
      color: white;
      margin:0;
      padding:50px 20px;
    }
  
  }
}
ngx-datatable{
  width:100%;
  height:100%;
}
.ngx-datatable .datatable-body .datatable-body-row {
  outline: none;
  cursor: pointer;
  font-family: 'Calibri W02 Light' !important;
  font-size: 16px;
  color: #000;
  line-height: 21px;
}

.ngx-datatable .datatable-header .datatable-header-cell .resize-handle {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  padding: 0 4px;
  visibility: hidden;
  cursor: ew-resize;
}

.ngx-datatable.material .datatable-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}

.datatable-header-cell-wrapper .datatable-header-cell-label {
  font-size: 16px;
  color: #000;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  text-align: left;
  padding: 0 24px !important;
  min-height: 48px !important;
  background: #EDEDED;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  padding: 5px 24px !important;
  line-height: 20px;
  font-size: 16px !important;
}

.ngx-datatable.material.single-selection .datatable-body-row.active,
.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-selection .datatable-body-row.active,
.ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
  background-color: #eee !important;
}

.ngx-datatable.material .datatable-footer {
  border-top: none !important;
}
.datatable-header-cell-wrapper {
  font-size: 16px !important;
  text-transform: uppercase;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  min-height: 59px !important;
}

.datatable-body-cell-label {
  color: #333333 !important;
}
